.globalBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  /* background-color: var(--button-color); */
  font-size: 1.1rem;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 0, 163, 1), rgba(0, 0, 255, 1));
}

.globalBtn:hover {
  transition: all ease 0.9s;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 163, 1),
    rgba(42, 42, 255, 1),
    rgba(42, 42, 255, 1),
    rgba(42, 42, 255, 1),
    rgba(42, 42, 255, 1),
    rgba(42, 42, 255, 1),
    rgba(42, 42, 255, 1)
  );
  cursor: pointer;
}
